.RightSide {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;

  .TopCards {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: flex-start;
  }

  .BottomTable {
    width: 100%;
    background-color: white;
    border-radius: 5px;

    .TableHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0px 24px;
      height: 76px;
    }
  }
}
