@use 'src/primereact-theme/theme-base/mixins.scss';
$common-padding: 1.5rem;
$common-margin-bottom: 24px;
$common-border: 1px solid var(--neutral-gray-gray-100, #e0e2e7);
$common-background: var(--neutral-white, #fff);
$common-box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.1);

@mixin form-section {
  padding: $common-padding;
  margin-bottom: $common-margin-bottom;
  border: $common-border;
  background: $common-background;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  border-radius: 0.5rem;
  box-shadow: $common-box-shadow;
}

.section {
  @include form-section;
}

.Controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.9rem;
  margin-top: 1.5rem;

  .Button {
    max-width: 170px;
  }
}

.imageContainer {
  width: 332px;

  @include mixins.onLaptopL {
    width: 385px;
  }
}

.image {
  height: 231px;
  object-fit: cover;
  border-radius: 10px;

  @include mixins.onLaptopL {
    height: 190px;
  }
}
