.RightSide {
  width: 100%;
  .TopCards {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 24px;
  }

  .BottomTable {
    border: 1px solid #e9ecef;
    width: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .TableHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0px 24px;
      height: 76px;
    }
  }
}
