.RightSide {
  width: 100%;
  // flex-grow: 1;
  // flex-shrink: 1;
  // flex-basis: 10%;

  .TopCards {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 24px;
  }

  .BottomTable {
    width: 100%;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .TableHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0px 24px;
      height: 76px;
    }
  }
}
