/* Customizations to the designer theme should be defined here */

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-top-left-radius: 15px;
  border-left: 1px solid #e9ecef;
}
.p-datatable .p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 15px;
  border-right: 1px solid #e9ecef;
}

.p-datatable .p-sortable-column .p-column-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.p-datatable .p-datatable-tbody > tr > td {
  font-weight: 400;
  font-size: 0.875rem;
}

.p-datatable .p-datatable-tbody > tr > td:first-child {
  border-left: 1px solid #e9ecef;
}
.p-datatable .p-datatable-tbody > tr > td:last-child {
  border-right: 1px solid #e9ecef;
}

.p-datatable .p-datatable-tbody > tr > td:first-child,
.p-datatable .p-datatable-thead > tr > th:first-child,
.p-datatable .p-datatable-tbody > tr > td:last-child,
.p-datatable .p-datatable-thead > tr > th:last-child {
  width: 100px;
}
.p-dropdown {
  background: var(--neutral-gray-gray-25, #f9f9fc);
  border-radius: 8px;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(1.65rem);
}
.p-datatable .p-datatable-footer {
  background-color: white;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.p-paginator {
  padding: 0;
}

.p-paginator .p-paginator-current {
  margin-right: auto;
  color: #111418;
  font-size: 0.875rem;
}

.p-dialog {
  .p-dialog-content {
    padding: 20px 20px 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &:last-of-type {
      border-bottom-right-radius: 0.625rem;
      border-bottom-left-radius: 0.625rem;
    }
  }
  .p-dialog-header {
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    padding: 1.25rem;
    border-bottom: 1px solid #b8b8ba;
    .p-dialog-title {
      color: #111418;
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .p-dialog-footer {
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    border-top: none;
    padding: 0 20px 15px;
    & button {
      margin: 0;
    }
  }
}

// Objects Table custom styles
.customObjectTable .p-datatable-table .p-datatable-thead > tr > th {
  border-radius: 0px;
  border-top: none;
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.3rem;
}

.p-datatable .p-sortable-column .p-column-title {
  padding-right: 0.5rem;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  margin-left: 0;
}

.p-inputtextarea {
  border-radius: 0.5rem;
}

.p-fileupload .p-fileupload-content {
  padding: 24px 12px;
  border: 1px dashed var(--indigo-5);
  border-radius: 8px;
  background-color: var(--neutral-gray);
}

// Accordion custom styles
.p-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 26px;
  display: flex;
  justify-content: center;
  margin: 0;
  transition: background-color 0.2s;
}

.p-accordion
  .p-accordion-header
  .p-accordion-header-link:hover
  .p-accordion-toggle-icon {
  background-color: var(--primary-color);
}

.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none;
}

.p-accordion {
  & .p-accordion-tab {
    border: 1px solid var(--light-gray-1);
    border-radius: 14px;
    transition: border-color 0.2s;

    &:hover {
      border-color: var(--primary-color);
    }

    &.p-accordion-tab-active {
      border-color: var(--primary-color);
    }
  }
}
