/* Customizations to the designer theme should be defined here */
@use 'src/primereact-theme/theme-base/mixins.scss' as mixins;

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-top-left-radius: 8px;
  border-left: 1px solid #e9ecef;
}
.p-datatable .p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 8px;
  border-right: 1px solid #e9ecef;
}

.p-datatable .p-sortable-column .p-column-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.p-datatable .p-datatable-tbody > tr > td {
  font-weight: 400;
  font-size: 0.875rem;
}

.p-datatable .p-datatable-tbody > tr > td:first-child {
  border-left: 1px solid #e9ecef;
}
.p-datatable .p-datatable-tbody > tr > td:last-child {
  border-right: 1px solid #e9ecef;
}

.p-datatable .p-datatable-tbody > tr > td:first-child,
.p-datatable .p-datatable-thead > tr > th:first-child,
.p-datatable .p-datatable-tbody > tr > td:last-child,
.p-datatable .p-datatable-thead > tr > th:last-child {
  width: 100px;
}
.p-dropdown {
  background: var(--neutral-gray-gray-25, #f9f9fc);
  border-radius: 8px;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(1.65rem);
}
.p-datatable .p-datatable-footer {
  background-color: white;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.p-paginator {
  padding: 0;
}

.p-paginator .p-paginator-current {
  margin-right: auto;
  color: #111418;
  font-size: 0.875rem;
}

.p-dialog {
  .p-dialog-content {
    padding: 20px 20px 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &:last-of-type {
      border-bottom-right-radius: 0.625rem;
      border-bottom-left-radius: 0.625rem;
    }
  }
  .p-dialog-header {
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    padding: 1.25rem;
    border-bottom: 1px solid #b8b8ba;
    .p-dialog-title {
      color: #111418;
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .p-dialog-footer {
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    border-top: none;
    padding: 0 20px 15px;
    & button {
      margin: 0;
    }
  }
}

.p-input-icon-left > .p-inputtext {
  padding-left: 2.3rem;
}

.p-datatable .p-sortable-column .p-column-title {
  padding-right: 0.5rem;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  margin-left: 0;
}

.p-inputtext {
  border-radius: 0.5rem;
}

.p-fileupload .p-fileupload-content {
  padding: 24px 12px;
  border: 1px dashed var(--indigo-5);
  border-radius: 8px;
  background-color: var(--neutral-gray);
}

// Accordion custom styles
.p-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 26px;
  display: flex;
  justify-content: center;
  margin: 0;
  transition: background-color 0.2s;
}

.p-accordion
  .p-accordion-header
  .p-accordion-header-link:hover
  .p-accordion-toggle-icon {
  background-color: var(--primary-color);
}

.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none;
}

.p-menu .p-menuitem-link {
  justify-content: space-between;
}

.p-menu .p-menuitem-link .p-menuitem-text {
  color: var(--text-body-color);
}

.p-accordion {
  & .p-accordion-tab {
    border: 1px solid var(--light-gray-1);
    border-radius: 14px;
    transition: border-color 0.2s;

    &:hover {
      border-color: var(--primary-color);
    }

    &.p-accordion-tab-active {
      border-color: var(--primary-color);
    }
  }
}

.p-datepicker-trigger .p-button-label {
  display: none;
}

.p-button.p-component.p-datepicker-trigger.p-button-icon-only {
  background-color: #fff;
  border: none;
  padding: 0px;

  @include mixins.onLaptop {
    border-radius: 8px;
  }
}

.p-calendar.p-component.p-inputwrapper.p-calendar-w-btn.p-calendar-w-btn-left {
  width: 157px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e0e2e7;
  background-color: #fff;

  @include mixins.onLaptop {
    width: auto;
  }
}

.p-calendar.p-component.p-inputwrapper.p-calendar-w-btn.p-calendar-w-btn-left
  .p-inputtext.p-component {
  border: none;
  background-color: #fff;
  color: #000000;
  padding: 0;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: 0.07px;

  @include mixins.onLaptop {
    display: none;
  }

  &::placeholder {
    color: inherit;
  }
}

button .p-checkbox .p-checkbox-box {
  border-radius: 3.188px;
  height: 17px;
  width: 17px;
}

button .p-checkbox {
  height: 17px;
  width: 17px;
}

div .rbc-events-container div.rbc-event {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  border-radius: 5px;
  gap: 5px;
  padding: 8px;
  background: var(--Indigo-4, #9881f3);
  border: 1px solid var(--White, #fff);
  color: #fff;
}

.rbc-event-label {
  font-size: 14px;
  font-weight: 500;
  white-space: inherit;
}

.rbc-event-content div h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.rbc-day-slot .rbc-event-content {
  flex: 0;
  min-height: auto;
}

.rbc-calendar {
  border-radius: 20px;
  background: #fff;
  padding-bottom: 27px;
}

.rbc-timeslot-group {
  position: relative;
  border-bottom: none;
}

.rbc-time-gutter .rbc-timeslot-group {
  width: 80px;
  margin: 0 35px 20px 0;
}

.rbc-time-gutter {
  border-right: 1px solid #dcdcdc;
}

.rbc-time-slot:nth-child(1) {
  border-color: #d3d8de;
}

.rbc-time-view,
.rbc-month-view {
  border: none;
  padding: 0 20px;
}

.rbc-label {
  color: var(--text_heading, #111418);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.rbc-day-slot .rbc-events-container {
  margin: 0px;
  border-right: 1px solid #dcdcdc;
}

.rbc-time-content .rbc-label {
  position: absolute;
  top: -50%;
  transform: translateY(50%);
  left: 0;
}

.rbc-time-view .rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-time-content {
  border: none;
  padding-top: 29px;
}

.rbc-header span {
  color: var(--text_heading, #111418);
  font-size: 18px;
  font-weight: 500;
  white-space: normal;
  width: 30px;
  display: block;
}

.rbc-header.rbc-today {
  background-color: #fff;
}

.rbc-event {
  border-radius: 5px;
  padding: 8px;
  background: var(--Indigo-4, #9881f3);
  border: 1px solid var(--White, #fff);
  color: #fff;
}

.rbc-label.rbc-time-header-gutter {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.rbc-calendar .p-dropdown .p-dropdown-label.p-placeholder,
.rbc-calendar .p-dropdown .p-dropdown-label {
  color: #000;
  font-weight: 500;
  line-height: normal;
}

.rbc-calendar .p-dropdown.p-component.p-inputwrapper {
  border-radius: 5px;
  border: 1px solid var(--Gray-5, #c5cbd3);
  background: #fff;
}
.rbc-calendar .p-icon.p-dropdown-trigger-icon.p-clickable {
  color: #7961db;
}

.rbc-time-header-content,
.rbc-time-view .rbc-header,
.rbc-time-view .rbc-allday-cell,
.rbc-time-content > * + * > *,
.rbc-time-slot:nth-child(2) {
  border: none;
}
