/* Customizations to the designer theme should be defined here */

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-top-left-radius: 15px;
  border-left: 1px solid #e9ecef;
}
.p-datatable .p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 15px;
  border-right: 1px solid #e9ecef;
}

.p-datatable .p-sortable-column .p-column-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.p-datatable .p-datatable-tbody > tr > td {
  font-weight: 400;
  font-size: 0.875rem;
}

.p-datatable .p-datatable-tbody > tr > td:first-child {
  border-left: 1px solid #e9ecef;
}
.p-datatable .p-datatable-tbody > tr > td:last-child {
  border-right: 1px solid #e9ecef;
}

.p-datatable .p-datatable-tbody > tr > td:first-child,
.p-datatable .p-datatable-thead > tr > th:first-child,
.p-datatable .p-datatable-tbody > tr > td:last-child,
.p-datatable .p-datatable-thead > tr > th:last-child {
  width: 100px;
}

.p-datatable .p-datatable-footer {
  background-color: white;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.p-paginator {
  padding: 0;
}

.p-paginator .p-paginator-current {
  margin-right: auto;
  color: #111418;
  font-size: 0.875rem;
}
