.heading {
  color: var(--text-heading-color);
  text-align: left;

  &-1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.625rem;
  }

  &-2 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.0625rem;
  }

  &-3 {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.625rem;
  }

  &-4 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
  }

  &-5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
  }

  &-6 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
  }

  &-primary {
    color: var(--primary-color);
  }
  &-error {
    color: var(--text-error-color);
  }
  &-muted {
    color: var(--text-color-muted);
  }
  &-white {
    color: var(--primary-color-text)
  }
}

.paragraph {
  color: var(--text-body-color);
  font-weight: 400;
  text-align: left;

  &--large {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  &--normal {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  &--small {
    font-size: 0.75rem;
    line-height: 0.879rem;
  }
  &-primary {
    color: var(--primary-color);
  }
  &-error {
    color: var(--text-error-color);
  }
  &-muted {
    color: var(--text-color-muted);
  }
  &-white {
    color: var(--primary-color-text);
  }
}

.text-center {
  text-align: center;
}
