.tableHeader {
  padding: 1.125rem 1.5rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid #f0f1f3;
  border-bottom: none;
  background-color: white;
}

.topClientsTable {
  max-width: 50rem;
  width: 100%;
}
