.viewTrainer {
  padding: 25px 25px 25px 0;
  width: 100%;
  .heading {
    margin-bottom: 0.63rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.loaderContainer {
  height: 400px;
  background-color: #fff;
}
