.page {
  padding: 19px 28px 0px 0px;
  width: 100%;
}

.heading {
  margin-bottom: 0.63rem;
  display: flex;
  justify-content: space-between;
}

.tableHeader {
  padding: 18px 24px;
}

.tableBg {
  background-color: #fff;
}

.notFoundContainer {
  height: 400px;
}