@use 'src/primereact-theme/theme-base/mixins.scss';

.infoCard {
  @include mixins.bg;
  border-radius: 8px;
  padding: 20px;
  height: 150px;
  flex-grow: 1;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
}