@use 'src/primereact-theme/theme-base/mixins.scss';

.passwordPage {
  height: 100%;
  width: 100%;
}

.section {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
}

.heading {
  margin-bottom: 0.63rem;
}

.btn {
  max-width: 174px;
}

.success {
  @include mixins.formSection;
}
