.button {
  background: #fff;
  width: 182px;
  display: flex;
  padding: 14px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Indigo-3, #7961db);
  background: #fff;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color .3s ease-out;

  &:hover {
    background-color: #e0e0e0;;
  }
}
