.page {
  padding: 25px 25px 0px 0px;
  width: 100%;
}

.button {
  height: fit-content;
  max-width: 146px;
}

.card {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Gray-Gray-100, #e0e2e7);
  background: var(--Neutral-White, #fff);
  box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.1);
  padding: 24px;
  width: 100%;
}

.statusSection {
  flex: 1;
}

.reservationList {
  flex: 3.5
}

.tableHeader {
  padding: 1.125rem 1.5rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid #f0f1f3;
  border-bottom: none;
  background-color: white;
}