.page {
  padding: 25px 25px 0px 0px;
  width: 100%;
}

.button {
  height: fit-content;
  max-width: 146px;
}

.heading {
  margin-bottom: 0.63rem;
}

.reservationList {
  flex: 3.5
}

.section {
  flex: 1;
}

.tableHeader {
  padding: 1.125rem 1.5rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid #f0f1f3;
  border-bottom: none;
  background-color: white;
}
