.page {
  padding: 25px 25px 0px 0px;
  width: 100%;
}

.button {
  height: fit-content;
  max-width: 146px;
}

.statusSection {
  flex: 1;
}

.heading {
  margin-bottom: 0.63rem;
}

.reservationList {
  flex: 3.5
}

.section {
  flex: 1;
}
