.toolbar {
  padding: 22px 20px 38px 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEFF2;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color .3s ease-out;

  &:hover {
    background-color: #c5cbd3;
  }
}

.dropdown {
  width: 186px;
}

.viewDropdown {
  width: 139px;
}
