@use 'src/primereact-theme/theme-base/mixins.scss' as mixins;

.AddOrganization {
  width: 100%;
  .formContainer {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
  }

  .heading {
    margin-bottom: 0.625rem;
  }
}
