@use 'src/primereact-theme/theme-base/mixins.scss';

.search {
  display: flex;
  gap: 30px;

  @include mixins.onLaptopL {
    gap: 15px;
  }
  .input {
    height: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #e0e2e7;
    background: #fff;
  }
}

.buttonGroup {
  display: flex;
  gap: 12px;

  @include mixins.onLaptopL {
    gap: 6px;
  }
}
