.addClient {
  padding: 25px 25px 25px 0;
  width: 100%;
  .heading {
    margin-bottom: 0.63rem;
  }
  .formContainer {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}
