.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--neutral-white, #fff);

  .image {
    width: 100%;
    & img {
      width: 100%;
      border-radius: 10px;
      max-height: 231px;
      object-fit: cover;
      object-position: center;
    }
  }

  .infoItem {
    margin-bottom: 1rem;
  }
}
