.sidebar {
  .separator {
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(224, 225, 226, 0) 0%,
      #e0e1e2 49.52%,
      rgba(224, 225, 226, 0.15625) 99.04%
    );
    margin-bottom: 25px;
    width: 100%;
  }

  max-width: 275px;
  width: 100%;
  padding: 0 1rem;
  &__menu {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    max-width: 100px;
    &__menu {
      padding: 0;
    }
    .separator {
      opacity: 0;
    }
  }
}
