@use 'src/primereact-theme/theme-base/mixins.scss' as mixins;

.sidebar {
  height: calc(100vh - 78px);
  margin-top: 78px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow: hidden;
  background-color: #edeff2;
  .separator {
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(224, 225, 226, 0) 0%,
      #e0e1e2 49.52%,
      rgba(224, 225, 226, 0.15625) 99.04%
    );
    margin-bottom: 25px;
    width: 100%;
  }

  min-width: 275px;
  padding: 0 1rem 25px 1rem;

  @include mixins.onLaptop {
    padding: 0 1rem 20px 1rem;
  }

  &__menu {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    min-width: 95px;
    &__menu {
      padding: 0;
    }
    .separator {
      opacity: 0;
    }
  }
}

.faqMini {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--indigo-4);
  }

  .icon {
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 12px;
  }
}
