.viewManager {
  width: 100%;
  .heading {
    margin-bottom: 0.63rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .manager {
    max-width: 40.625rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
    .back {
      display: flex;
      gap: 0.3rem;
      margin-bottom: 1rem;
      cursor: pointer;
      & > * {
        fill: var(--primary-color);
      }
    }
    &Info {
      display: flex;
      padding: 1.5rem;
      flex-direction: column;
      gap: 0.875rem;
      border-radius: 0.5rem;
      border: 1px solid var(--neutral-gray-gray-100, #e0e2e7);
      background: var(--neutral-white, #fff);
      box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.1);
      &Heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &Item {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }
    }
  }
}
