.btn {
  &:active {
    pointer-events: none;
  }
}

.label {
  display: block;
  cursor: pointer;
}

.clip {
  background-image: url("src/assets/clip.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  padding: 8px;
  height: 42px;
  width: 42px;
  background-color: var(--primary-color);
}
