@use 'src/primereact-theme/theme-base/mixins.scss' as mixins;

.page {
  padding: 25px 25px 0px 0px;
  width: 100%;
}

.notFoundContainer {
  height: 100%;
  margin-top: 188px;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  @include mixins.onLaptopL {
    gap: 0;
    justify-content: space-between;
  }

  @media (max-width: 1560px) {
    gap: 0;
    justify-content: space-between;
  }
}

.buttonControls {
  width: 430px;
  justify-content: flex-end;
  align-items: center;
}