.username {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}

.avatar-placeholder {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.menu {
  margin: 20px 0 0 15px;
}

.profile {
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}