@use '../../b2bclient/forms/manageOrganizationForm/manageOrganizationForm.module.scss'
  as manageOrganizationForm;
.form {
  &Section {
    @include manageOrganizationForm.form-section;
  }
}

.Form-WorkingHours {
  & .InputSwitch-Label {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    padding-top: 14px;
  }

  & .WorkingHours-Row {
    align-self: stretch;
    gap: 14px;

    & .WorkingHours-Switch {
      display: flex;
      width: 84px;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      & .InputSwitch {
        width: 58px;
        height: 33.143px;
      }
    }

    & .WorkingHours-Group {
      display: flex;
      align-items: flex-end;
    }

    & .WorkingHours-Dropdowns {
      flex: 1;
      display: flex;
      gap: 14px;
      width: 100%;

      & .WorkingHours-DropdownLeft {
        width: 50%;
      }
      & .WorkingHours-DropdownRight {
        width: 50%;
      }
    }
  }
}
